.list-container {
	width: 500px;
	box-shadow: var(--3d-box-shadow);
	border-radius: 10px;
	padding: 20px;
	margin: 12% auto 5% auto;
	background-color: #FFF;
}

.list-container h1 {
	font-size: 35px;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.gift-list {
	margin-top: 20px;
}

.gift-list li {
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-delete-all {
	width: 100%;
	margin-top: 20px;
}

.btn-add-gift {
	width: 100%;
}

.no-gifts-text {
	text-align: center;
	margin: 40px 0;
}

.total-price {
	display: block;
	text-align: center;
	border-top: 1px solid #bb2528;
	padding-top: 15px;
}

.song-icon {
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}

@media screen and (max-width: 530px) {
	.list-container {
		margin: 120px 15px 50px 15px;
		width: auto;
	}
}