.gift-info-container {
	display: flex;
	column-gap: 10px;
}

.gift-info-container img {
	width: 45px;
	height: 100%;
	align-self: center;
}

.btn-gift {
	width: 35px;
	height: 35px;
	position: relative;
}

.btn-gift svg {
	font-size: 20px;
	position: absolute;
	top: 7px;
	right: 6px;
}

.gift-btn-container {
	display: flex;
	column-gap: 5px;
}

.gift-text {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.gift-text small {
	color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 530px) {
	.btn-gift {
		width: 10%;
		height: 10%;
	}

	.btn-gift svg {
		font-size: 15px;
		position: absolute;
		top: 3px;
		right: 2px;
	}

	.gift-text {
		font-size: 13px;
	}
}