.list-container {
	width: 500px;
	border: 1px solid #bb2528;
	border-radius: 10px;
	padding: 20px;
	margin: 200px auto;
}

.list-container h1 {
	font-size: 35px;
	margin-bottom: 20px;
}

.gift-list {
	margin-top: 20px;
}

.gift-list li {
	list-style: none;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gift-info-container {
	display: flex;
	column-gap: 10px;
}

.gift-info-container img {
	width: 45px;
}

.btn-gift {
	width: 35px;
	height: 35px;
	position: relative;
}

.btn-gift svg {
	font-size: 20px;
	position: absolute;
	top: 7px;
	right: 6px;
}

.gift-btn-container {
	display: flex;
	column-gap: 5px;
}

.btn-delete-all {
	width: 100%;
	margin-top: 20px;
}

.btn-add-gift {
	width: 100%;
}

.no-gifts-text {
	text-align: center;
}

.gift-text {
	display: flex;
	flex-direction: column;
	align-self: center;
}
