.list-container {
	width: 500px;
	border: 1px solid #bb2528;
	border-radius: 10px;
	padding: 20px;
	margin: 200px auto;
}

.list-container h1 {
	font-size: 35px;
	margin-bottom: 20px;
}

.form-container input, .form-container button {
	height: 35px;
}

.form-container input {
	grid-column: 1 / 3;
	padding-left: 10px;
}

.form-container button {
	grid-column: 4;
}

.form-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 5px;
}

.gift-list {
	margin-top: 20px;
}

.gift-list li {
	list-style: none;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn-gift {
	height: 30px;
	line-height: 0.7;
}

.btn-delete-all {
	width: 100%;
	margin-top: 20px;
}

.no-gifts-text {
	text-align: center;
}

.gift-form-error {
	color: #db2a2d;
	display: flex;
	align-items: center;
	column-gap: 5px;
	margin-top: 5px;
}